@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Variables */
$font: 'Roboto', sans-serif; /* Primary font */
$white: #fdfdfd; /* White */
$black: #111; /* black BG */
$dark: #22384A; /* Dark on white */
$red: #FF6161; /* Tagline color */
$grey: #878787; /* Grey font */
$soundcloud: #ff8800; /* soundcloud */
$spotify: #1DB954; /* spotify */
$highlight: #3AC7D2; /* highlight */


*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 16px !important; /* Overwriting css clear - need better fix */
}
#wrapper {
  display: flex;
  flex-direction: column;
}
/* Fonts */
h1 {
  font-family: $font;
  font-size: 3.6rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .2rem;
}
h3 {
  font-family: $font;
  font-size: 1.8rem;
  font-weight: 400;
}
/* Menu */
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  .container-16 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  .logo span { /* Logo text */
    font-family: $font;
    font-weight: 600;
    font-size: 2.5rem;
    color: $white;
    text-transform: uppercase;
    padding-left: 10px;
    letter-spacing: 0.1rem;
  }
}
nav .button {
  font-family: $font;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}
nav ul li {
  position: relative;
  display: inline-block;
  margin-left: 1.8rem;
  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
  }
}
nav ul li::after {
  content: '';
  position: absolute;
  opacity: 0;
  background-color: $white;
  height: 2px;
  width: 100%;
  bottom: -5px;
  transition: height 0.2s, opacity 0.2s;
}
nav ul li:hover::after {
  opacity: 1;
}
/* Buttons */
.buttons {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .1rem;
  font-family: $font;
  a {
    text-decoration: none;
    cursor: pointer;
    div {
      width: 190px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        padding-right: 10px;
      }
    }
    div:hover {
      padding-left: 8px;
      transition: padding-left .2s;
    }
  }
}
/* Album Section */
.albumSection { /* Background */
  position: relative;
  height: 85vh;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
}
.album {
  height: 85vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  .cover {
    img {
      width: 400px;
      height: 400px;
      border: 2px solid black;
      border-image-source: linear-gradient(60deg, #41d6f4, #4262f4);
      border-image-slice: 1;
    }
  }
  .info {
    margin-left: 40px;
    span { /* label for album */
      font-family: $font;
      padding: 1px 6px;
      font-weight: 600;
      font-size: 1.6rem;
      color: #fdfdfd;
      background-color: #111;
      text-transform: uppercase;
    }
    h1 {
      margin-top: 10px;
      color: $white;
    }
    h3 {
      margin-top: 5px;
      color: $grey;
    }
    .tracks {
      font-family: $font;
      font-size: 1.4rem;
      margin-top: 20px;
      color: $grey;
      font-weight: 400;
      li { /* padding in tracklist */
        padding: 5px 0;
      }
    }
  }
  .soundcloud {
    background-color: $soundcloud;
    color: $white;
    transition: box-shadow .2s;
    transition: padding-left .2s;
    img {
      height: 18px; /* align icon heights */
    }
  }
  .soundcloud:hover {
    box-shadow: 0 0 8px $soundcloud;
  }
  .spotify {
    margin-left: 20px; /* space between first and second */
    background-color: $spotify;
    color: $white;
    transition: box-shadow .2s;
    transition: padding-left .2s;
    img {
      height: 24px; /* align icon heights */
    }
  }
  .spotify:hover {
    box-shadow: 0 0 8px $spotify;
  }
}
/* Event Section */
.eventSection {
  position: relative;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  background-color: $white;
}
.event {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
  .poster img {
    width: 400px;
    height: auto;
    margin-top: -60px; /* Overlap hero */
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  }
  .info {
    margin-left: 40px;
    margin-top: -45px;
    .tag {
      padding: 1px 6px;
      font-weight: 600;
      font-size: 1.6rem;
      color: $white;
      font-family: $font;
      background-color: $red;
      text-transform: uppercase;
    }
    h1 {
      margin-top: 50px;
      color: $dark;
    }
    h3 {
      margin-top: 20px;
      color: $grey;
    }
    .description {
      font-family: $font;
      font-size: 1.4rem;
      max-width: 700px;
      margin-top: 50px;
      line-height: 1.8rem;
      color: $grey;
    }
  }
  .video {
    background-color: $dark;
    color: $white;
    transition: box-shadow .2s;
    transition: padding-left .2s;
    img {
      height: 18px; /* align icon heights */
    }
  }
  .video:hover {
    box-shadow: 0 0 8px $dark;
  }
  .eventlink {
    margin-left: 20px; /* space between first and second */
    background-color: $highlight;
    color: $white;
    transition: box-shadow .2s;
    transition: padding-left .2s;
    img {
      height: 24px;
    }
  }
  .eventlink:hover {
    box-shadow: 0 0 8px $highlight;
  }
  .lineup {
    .wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    h3 {
      color: $dark;
    }
    .artist {
      z-index: 1;
      position: relative;
      display: flex;
      flex-direction: row;
      margin: 20px 10px;
      width: 150px;
      height: 215px;
      background-repeat: no-repeat, repeat;
      background-size: cover;
      background-position: center;
    }
    .overlay {
      font-family: $font;
      width: 100%;
      height: 100%;
      z-index: 3;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      text-align: center;
      padding: 20px 10px 10px 10px;
    }
    .name {
      position: absolute;
      top: 165px;
      left: 0;
      right: 0;
      text-transform: uppercase;
      color: $white;
      font-weight: 400;
      font-size: 1.3rem;
      text-shadow: 0 0 20px black;
      margin-bottom: 10px;
      transition: top .2s;
    }
    .time {
      position: absolute;
      opacity: 0;
      left: 0;
      right: 0;
      top: 130px;
      transition: top .3s;
      transition: opacity .4s;
      .settime {
        display: block;
        color: $white;
        font-size: 1rem;
        transition: opacity .2;
      }
      .timeslot {
        color: $white;
        font-size: 1.4rem;
        transition: opacity .2s;
      }
    }
    a {
      position: absolute;
      left: 10px;
      right: 10px;
      opacity: 0;
      text-decoration: none;
      color: $white;
      font-size: 1.2rem;
      transition: opacity .2s;
    }
    .social {
      padding: 10px 15px;
      background-color: $soundcloud;
    }
    .gradient {
      z-index: 2;
      position: absolute;
      height: 100%;
      width: 100%;
      background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
      opacity: .8;
      transition: opacity .3s;
    }
  }
  .overlay:hover /* Hover effect af overlay */ {
    .gradient {
      opacity: 1;
      background: black;
    }
    a {
      opacity: 1;
      text-decoration: none;
      color: $white;
      font-size: 1.2rem;
    }
    .name {
      top: 20px;
    }
    .time {
      top: 90px;
      opacity: 1;
    }
    .timeslot {
      margin-top: 5px;
      color: $white;
      font-size: 1.4rem;
    }
  }
}
/* Aftermovie Section */
.movieSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  h1 {
    color: $white;
  }
  h3 {
    margin-top: 15px;
    color: $white;
  }
  .video {
    margin: 40px auto 0;
    width: 90%;
    max-width: 1000px;
  }
}
/* Spotify Playlist */
.spotifySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  .width-90 {
    width: 90%;
    max-width: 1000px;
  }
  h1 {
    color: $white;
  }
  h3 {
    margin-top: 15px;
    color: $white;
  }
  .desc {
    justify-content: space-between;
    text-align: left;
  }
  .spotify {
    background-color: $spotify;
    color: $white;
    transition: box-shadow .2s;
    transition: padding-left .2s;
    img {
      height: 24px; /* align icon heights */
    }
  }
  .spotify:hover {
    box-shadow: 0 0 8px $spotify;
  }
  .spotifyplaylist {
    margin-top: 40px;
    overflow: hidden;
    padding-top: 2;
    position: relative;
    padding-top: 60%;
  }
  iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
/* Footer */
.footer {
  background-color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  .socials {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  span {
    margin-top: 15px;
    font-family: $font;
    font-weight: 500;
    font-size: 1.2rem;
    color: $white;
  }
  .hexagon {
    text-decoration: none;
    position: relative;
    margin: 0 5px;
  }
  .hexagon::before {
    content: '\2B22';
    font-size: 6rem;
    color: $white;
  }
  .facebook {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 2rem;
    width: auto;
  }
  .soundcloud {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    height: auto;
    width: 3rem;
  }
  .instagram {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 2.5rem;
  }
  .youtube {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 2.5rem;
  }
  .spotify {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: auto;
    width: 2.2rem;
  }
}
@media only screen and (max-width: 899px) {
  html {
    font-size: 12px !important; /* overwriting css clear - needs better fix */
  }
  .albumSection {
    height: auto;
  }
  .buttons {
    margin-top: 20px;
    a > div {
      width: 150px;
    }
  }
  .album {
    flex-direction: column;
    padding: 120px 0 40px;
    height: auto;
    .cover img {
      align-self: center;
      width: 100%;
      max-width: 400px;
      height: auto;
    }
    .info {
      margin-top: 20px;
      margin-left: 0;
      width: 100%;
      .tracks {
        font-size: 1.8rem;
      }
    }
  }
  .event {
    flex-direction: column;
    padding: 30px 0;
    h1 {
      margin-top: 0 !important;
    }
    .poster {
      display: none;
    }
    .info {
      margin-top: 0;
      margin-left: 0;
      .description {
        margin-top: 20px;
      }
      .tag {
        display: none;
      }
    }
    .overlay {
      .name {
        top: 20px;
        font-size: 1.6rem;
        font-weight: 400;
        opacity: 1;
      }
      a {
        opacity: 1;
      }
      .time {
        opacity: 1;
        top: 40%;
        .settime {
          font-size: 1.4rem;
        }
        .timeslot {
          font-size: 1.8rem;
        }
      }
    }
    .lineup {
      .artist{
        margin: 10px 5px;
      }
    }
  }
  .spotifySection {
    .spotifyplaylist {
      padding-top: 100%;
    }
  }
}