@import url('https://fonts.googleapis.com/css?family=Roboto');

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 16px !important; /* Overwriting css clear - need better fix */
}

#wrapper {
  display: flex;
  flex-direction: column;
}
/* MENU */
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
header .container-16 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
}
header .logo span {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
  padding-left: 10px;
  letter-spacing: 0.1rem;
}
nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  text-transform: uppercase;
  display: inline-block;
}
nav ul li::after {
  content: '';
  position: absolute;
  opacity: 0; /* Visible */
  background-color: #fff;
  height: 2px;
  width: 100%;
  bottom: -5px;
  transition: height 0.2s, opacity 0.2s;
}
nav ul li:hover::after {
  opacity: 1;
}
nav ul li {
  position: relative;
  display: inline-block;
  margin-left: 1.8rem;
}
nav .button {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}
/* Album */
.albumSection {
position: relative;
height: 85vh;
background-repeat: no-repeat, repeat;
background-size: cover;
background-position: center;
}
.album {
  font-family: 'Roboto', sans-serif;
  height: 85vh;
  display: flex;
  flex-direction: row;
  align-items: center;

}
.album .cover img {
  width: 400px;
  height: 400px;
  border: 2px solid black;
  border-image-source: linear-gradient(60deg, #41d6f4, #4262f4);
  border-image-slice: 1;
}
.album .info {
  margin-left: 40px;
}
.album .info span {
  padding: 1px 6px;
  font-weight: 600;
  font-size: 1.6rem;
  color: #fdfdfd;
  background-color: #111111;
  text-transform: uppercase;
}
.album .info h1 {
  margin-top: 10px;
  font-size: 3.6rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #fdfdfd;
  letter-spacing: .2rem;
}
.album .info h3 {
  margin-top: 5px;
  font-size: 1.8rem;
  font-weight: 400;
  color: #878787;
}
.album .buttons {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .1rem;
}
.album .buttons a {
  text-decoration: none;
}
.album .buttons a > div {
  width: 180px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.album .buttons a > div:hover {
  padding-left: 8px;
}
.album .buttons a > div img {
  padding-right: 10px;
}
.album .buttons a .soundcloud img {
  height: 18px; /* Aligning icon heights with Spotify icon */
}
.album .buttons a .spotify img {
  height: 24px;
}
.album .buttons a .soundcloud {
  background-color: #ff8800;
  color: white;
  transition: box-shadow 0.2s;
  transition: padding-left 0.2s;
}
.album .buttons a .spotify {
  margin-left: 20px;
  background-color: #1DB954;
  color: white;
  transition: box-shadow 0.2s;
  transition: padding-left 0.2s;
}
.album .tracks {
  font-size: 1.4rem;
  margin-top: 20px;
  color: #878787;
  font-weight: 400;
}
.album .tracks li {
  padding: 5px 0;
}
.album .buttons a .spotify:hover {
  box-shadow: 0 0 8px #1DB954;
  cursor: pointer;
}
.album .buttons a .soundcloud:hover {
  box-shadow: 0 0 8px #ff8800;
  cursor: pointer;
}
/* event */
.eventSection {
  position: relative;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  background-color: #41d6f4;
}
.event {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
}
.event .poster img {
  width: 400px;
  height: auto;
  margin-top: -60px; /*Overlap hero */
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}
.event .info {
  margin-left: 40px;
  margin-top: -45px; /*Overlap hero */
}
.event .info .tag {
  padding: 1px 6px;
  font-weight: 600;
  font-size: 1.6rem;
  color: #fdfdfd;
  background-color: #FF6161;
  text-transform: uppercase;
}
.event .info h1 {
  margin-top: 50px;
  font-size: 3.6rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #22384A;
  letter-spacing: .2rem;
}
.event .info h3 {
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: 400;
  color: #878787;
}
.event .info .description {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  max-width: 700px;
  margin-top: 50px;
  line-height: 1.8rem;
  color: #878787;
}
.event .buttons {
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 20px 0;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .1rem;
}
.event .buttons a {
  text-decoration: none;
}
.event .buttons a > div {
  width: 220px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.event .buttons a > div img {
  padding-right: 10px;
  transition: padding-right 0.2s;
}
.event .buttons .video img {
  height: 18px; /* Aligning icon heights with Spotify icon */
  color: white;
  fill: currentColor;
}
.event .buttons .eventlink img {
  height: 24px;
}
.event .buttons .video {
  background-color: #3AC7D2;
  color: white;
  transition: box-shadow 0.2s;
  transition: padding-left 0.2s;
}
.event .buttons .eventlink {
  margin-left: 20px;
  background-color: #1DB954;
  color: white;
  transition: box-shadow 0.2s;
  transition: padding-left 0.2s;
}
.event .buttons .video:hover {
  box-shadow: 0 0 8px #3AC7D2;
  cursor: pointer;
  padding-left: 8px;
}
.event .buttons .eventlink:hover {
  box-shadow: 0 0 8px #1DB954;
  cursor: pointer;
  padding-left: 8px;
}
.event .lineup .wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.event .lineup h3 {
  font-weight: 600;
  color: #22384A;
}
.event .lineup .artist {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 20px 10px;
  width: 150px;
  height: 215px;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
}
.event .lineup .overlay .name {
  position: absolute;
  top: 165px;
  left: 0;
  right: 0;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  font-size: 1.3rem;
  text-shadow: 0 0 20px black;
  margin-bottom: 10px;
  transition: top 0.2s;
}
.event .lineup .overlay {
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;
  padding: 20px 10px 10px 10px;
}
.event .lineup .time {
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  top: 130px;
  transition: top 0.3s;
  transition: opacity 0.4s;
}
.event .overlay .settime {
  display: block;
  color: white;
  font-size: 1rem;
  transition: opacity 0.2s;
}
.event .overlay .timeslot {
  color: white;
  font-size: 1.4rem;
  transition: opacity 0.2s;
}
.event .overlay a {
  position: absolute;
  left: 10px;
  right: 10px;
  opacity: 0;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: opacity 0.2s;
}
.event .overlay .social {
  padding: 10px 15px;
  background-color: orange;
}
.event .lineup .gradient {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  opacity: 0.8;
  transition: opacity 0.3s;
}
.event .lineup .overlay:hover .gradient {
  opacity: 1;
  background: black;
}
.event .overlay:hover a {
  opacity: 1;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
.event .overlay:hover .name {
  top: 20px;
}
.event .overlay:hover .time {
  top: 90px;
  opacity: 1;
}
.event .overlay:hover .timeslot {
  margin-top: 5px;
  color: white;
  font-size: 1.4rem;
}
/* Movie */
.movieSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 0;
}
.movieSection h1 {
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
  font-size: 3.6rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .2rem;
}
.movieSection h3 {
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #B7B7B7;
}
.movieSection .video {
  margin: 40px auto 0;
  width: 90%;
  max-width: 1000px;
}

.spotifySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 0;
}
.spotifySection h1 {
  font-family: 'Roboto', sans-serif;
  margin-top: 50px;
  font-size: 3.6rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .2rem;
}
.spotifySection h3 {
  font-family: 'Roboto', sans-serif;
  margin-top: 15px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #B7B7B7;
}
.spotifySection .desc {
  justify-content: space-between;
  text-align: left;
}
.spotifySection a {
  display: inline-block;
  text-decoration: none;
}
.spotifySection .spotify {
  width: 180px;
  height: 44px;
  display: flex;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  justify-content: center;
  background-color: #1DB954;
  color: white;
  transition: box-shadow 0.2s;
  transition: padding-left 0.2s;
}
.spotifySection .spotify img {
  height: 24px;
  margin-right: 10px;
}
.spotifySection .spotify:hover {
  padding-left: 8px;
  box-shadow: 0 0 8px #1DB954;
}
.spotifySection .width-90 {
  width: 90%;
  max-width: 1000px;
}
.spotifyplaylist {
  margin-top: 40px;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
.spotifyplaylist iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.footer {
  background-color: #1A1A1A; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
.footer .socials {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.footer span {
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: white;

}
.footer .hexagon {
  text-decoration: none;
  position: relative;
  margin: 0 5px;
}
.footer .hexagon::before {
  content: '\2B22';
  font-size: 6rem;
  color: white;
}
.footer .facebook {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 2rem;
  width: auto;
}
.footer .soundcloud {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-60%);
  height: auto;
  width: 3rem;
}
.footer .instagram {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: 2.5rem;
}
.footer .youtube {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: 2.5rem;
}
.footer .spotify {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: 2rem;
}
/* Mobile friendly albumSection */
@media only screen and (max-width: 899px) { 
  html {
    font-size: 12px !important; /* Overwriting css clear - need better fix */
  }
  .albumSection {
    height: auto;
  }
  .album {
    flex-direction: column;
    padding: 120px 0 40px;
    height: auto;
  }
  .album .cover img {
    align-self: center;
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  .album .info {
    margin-top: 20px;
    margin-left: 0;
    width: 100%;
  }
  .album .buttons {
    margin: 15px 0;
  }
  .album .buttons a > div {
    width: 150px;
  }
  .album .info .tracks {
    font-size: 1.6rem;
  }
  .event {
    flex-direction: column;
    padding: 20px 0;
  }
  .event .poster {
    display: none;
  }
  .event .poster img {
    align-self: center;
    width: 100%;
    height: auto;
    margin-top: 0;
  }
  .event .info {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
  }
  .event .buttons a > div {
    width: auto;
  }
  .event .buttons .eventlink {
    margin-left: 0;
  }
  .event .info h1 {
    margin-top: 30px;
  }
  .event .info .description {
    margin-top: 10px;
  }
  .event .info .tag {
    margin-top: 20px;
  }
  .event .overlay a {
    display: block;
  }
  .event .overlay .settime {
    display: block;
  }
  .event .overlay .timeslot {
    display: block;
  }
  .event .lineup .artist {
    margin: 10px 5px;
  }
  .spotifySection h1, .movieSection h1 {
    margin-top: 0px;
  }
}